<!doctype html>
<html lang="fr">

    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        {% block stylesheets %}
        {% endblock %}
    </head>

    <body>
        <nav id="nav" class="">
            {% block nav %} {% endblock %}
        </nav>

        {% block body %}{% endblock %}

        <footer id="footer">
            {% block footer %} {% endblock %}
        </footer>


        {% block javascripts %}
        {% endblock %}
    </body>
</html>
